body{
	margin: 0;
	font-family: helvetica, arial, ;
}

header{
	background: skyblue;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
h1,h2{
 text-align: center;

}

header h1{
	color: black;
	text-align: center;
	
}

header img{
	border-radius: 150px;
	width: 300px;
	border: 20px solid black;
	
}
main{
	max-width:  800px;
	margin: 0 auto;
	padding: 0 20px;
	
}
main img{
	max-width:  300px;
}
 h2{
    font-size: 30px
    color: darkred;
    margin: 40px 0 10px;
 }
 a{
 	color: darkblue;
 }
 a:hover{
 	color:green;
 }
 footer{
 	background: skyblue;
	text-align: center;
	color: white;
	padding: 50px;
 }
 footer a{
 	color: white;
 }
 footer a:hover{
 	opacity: .5;
 	background-color: transparent;
 }

p.caption{
	color: mediumpurple ;
	font-size: italic;
}